@page "/superheroes"
@using System.Diagnostics

@* The name is short because we added a line in _Imports.razor file *@
@inject ISuperHeroService SuperHeroService
@inject NavigationManager NavigationManager;

<PageTitle>Super Heroes</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hero Name</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var hero in SuperHeroService.Heroes)
        {
            <tr>
                <td>@hero.FirstName</td>
                <td>@hero.LastName</td>
                <td>@hero.HeroName</td>
                <td>@hero.ComicId</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowHero(hero.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>

</table>
<button class="btn btn-primary" @onclick="CreateNewHero">Create a New Hero</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SuperHeroService.GetSuperHeroes();
    }

    public void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"hero/{id}");
    }

    public void CreateNewHero()
    {
        NavigationManager.NavigateTo("/hero");
    }
}
